@model PruebadeResistencia.Models.Resistencium

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Resistencium</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cubo1" class="control-label"></label>
                <input asp-for="Cubo1" class="form-control" />
                <span asp-validation-for="Cubo1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cubo2" class="control-label"></label>
                <input asp-for="Cubo2" class="form-control" />
                <span asp-validation-for="Cubo2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cubo3" class="control-label"></label>
                <input asp-for="Cubo3" class="form-control" />
                <span asp-validation-for="Cubo3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prom" class="control-label"></label>
                <input asp-for="Prom" class="form-control" />
                <span asp-validation-for="Prom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreparacionId" class="control-label"></label>
                <select asp-for="PreparacionId" class ="form-control" asp-items="ViewBag.PreparacionId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DiaId" class="control-label"></label>
                <select asp-for="DiaId" class ="form-control" asp-items="ViewBag.DiaId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
